{% extends 'index.html' %}
{% block body %}
<section class="hero-section set-bg" data-setbg="{{ url_for('static', filename='img/bg.jpg') }}">
		<div class="container h-100">
			<div class="hero-content text-white"/>
                    <form method="post">

						<h2 style="font-size:40px; margin-left:-50px; margin-bottom: 40px">Withdrawal form</h2>

                         <label>Saving ID:
                            <select class="form-control" name="maSo" onchange="chonSo(this)" style="font-size:12px;
                            height:30px; width: 235px; margin-top:8px;" required="required" >
                            {% for so in dsso %}
                                <option value="{{ so.maSo }}">{{ so.maSo }}</option>
                            {% endfor %}
                            </select>
                        </label>

                        <label> Customer name:
                             <select disabled class="form-control" id="name" onchange="chonSo(this)"
                                     style="font-size:12px; height:30px; width: 235px" required="required" >
                            {% for so in dsso %}
                                <option value="{{ so.maSo }}">{{ so.khachHang }}</option>
                            {% endfor %}
                            </select>
                        </label>

                        <label> Withdrawal amount (VNĐ):
                            <input type="number" name="amount" id="amount" placeholder="Input amount of money.."
                                   min="100000" step="1000" style="width:235px;" required="required" />
                        </label>

						<button type="submit" style="color: white; padding: 1.5rem; width: 100%;
                            max-width: 25rem; border-radius: 5rem; border: 0; outline: none; cursor: pointer; text-align: center;
                            font-weight: 500; white-space: nowrap; letter-spacing: 1px; background-color: #7b78f8;
                            box-shadow: 0 10px 20px 0 rgba(123, 120, 248, 0.5); margin-left: 8px; margin-top: 30px">Submit</button>

                    </form>
				</div>
				<div class="hero-rocket">
					<img src="{{ url_for('static', filename='img/rocket.png') }}" alt="">
				</div>
			</div>
		</div>
	</section>
     <script language="javascript">
         function chonSo(obj)
         {
            var name = document.getElementById('name');
            var value = obj.value;
            name.value = value;
         }
     </script>
{% endblock %}