{% extends 'index.html' %}
{% block body %}
<section class="hero-section set-bg" data-setbg="{{ url_for('static', filename='img/bg.jpg') }}">
		<div class="container h-100">
			<div class="hero-content text-white"/>
                    <form method="post">

						<h2>Search</h2>

        <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Saving ID</th>
                  <th>Saving type</th>
                  <th>Customer's name</th>
                  <th>Banlance amount</th>
                </tr>
              </thead>
              <tbody>
              {% for so in dsso %}
                <tr>
                    <td>{{ so.maSo }}</td>
                    <td>{{ so.loaitietkiem.tenLoaiTK }}</td>
                    <td>{{ so.khachHang }}</td>
                    <td>{{ so.soTienGui }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

						<button type="submit" class="site-btn">Tra cứu</button>

                    </form>
				</div>
				<div class="hero-rocket">
					<img src="{{ url_for('static', filename='img/rocket.png') }}" alt="">
				</div>
			</div>
		</div>
	</section>
{% endblock %}